@import url('https://fonts.googleapis.com/css?family=Open+Sans:300i,400,700, 700i|Sansita:400,700');

// VARIABLES
$fontColor = #333
$pageColor = #f3f4ee
$fontSansita = 'Sansita', sans-serif
$fontOpenSans = 'Open Sans', sans-serif

*
  font-family: $fontOpenSans;
  margin: 0;
  padding: 0;

html,
body
  background $pageColor
  color $fontColor
  font-family $fontOpenSans
  font-size 16px
  margin 0
  width 100%
  height 100%

h1, h2
  font-family $fontSansita
  font-size 38px
  font-weight 100

.container
  padding 20px

  .container.with-menu
    margin-top 62px

.content
  margin-top: 60px;
